
@media screen and (min-width: 319px) and (max-width: 426px){

    #container{
        width: 90%;
    }

    #div_config{
        width: 70%;
        display: inline;
    }

    .subdiv_config:last-child{
        margin-top: 15px;
    }

    #div_tempo{
        width: 60%;
        margin-top: unset;
    }

    #div_controle{
        width: 60%;
    }

}

@media screen and (width: 768px){

    #div_config{
        width: 90%;
    }

    #div_tempo{
        width: 100%;
    }

    #div_controle{
        width: 40%;
    }

}

@media screen and (width: 1024px){

    #div_config{
        width: 90%;
    }

    #div_controle{
        width: 30%;
    }

}